@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

//colors:
$dark-color: rgba(61, 54, 145, 1);
$light-color: rgba(255, 255, 255, 1);
$background-color: #fff;

//academies dropdown color:
$white-color: #f6f5f7;
